<%- include('partials/header') -%> 

<style>
    .icon_class{
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        width: 24px !important;
        height: 24px !important;
        position: relative;
        z-index: 9999;
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
</style>

<div class="jumbotron text-center">
    <h1><span class="fa"></span>Contact Us</h1>
</div>

<div class="container" style=
    "width: 200px;
    height: 100px;
    line-height: 70px;
    padding-bottom: 50px;">
    <ul style="list-style-type:none; ">
        <li><a href="mailto:omgdisha@gmail.com" class="fa fa-envelope icon_class" ></a></li>
        <li><a href="https://github.com/DishaTyagi" class="fa fa-github icon_class"></a></li>
        <li><a href="https://www.facebook.com/disha.tyagi.585112" class="fa fa-facebook icon_class"></a></li>
        <li><a href="https://www.instagram.com/dishatyagi27/" class="fa fa-instagram icon_class"></a></li>
        <li><a href="https://www.linkedin.com/in/disha-tyagi-43500817b/" class="fa fa-linkedin icon_class"></a></li>        
    </ul>
</div>
<%- include('partials/footer') -%> 