<%- include('partials/header') -%> 

<div class="jumbotron text-center">
    <h1><span class="fa"></span>Welcome to this website!</h1>
</div>

<div class="container">
    <p>This website is dedicated to QWERTY company for the purpose of managing employees. </p>
</div>

<%- include('partials/footer') -%> 