<%- include('partials/header') -%> 

<div class="jumbotron text-center">
    <h1><span class="fa"></span>Click on the required button to perform furthur operations.</h1>
</div>

<%- include('partials/footer') -%>