<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px;">
    <div class="container" style="padding: 20px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">EMPLOYEE MANAGEMENT WEBSITE</a>
    
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/logout" class="btn btn-warning btn-lg">Logout</a></li>
        </ul>
    </div>
</nav>